services:
  api:
    build: .
    environment:
      - NODE_ENV=production
      - MONGODB_URL=${MONGODB_URL}
      - REDIS_URL=redis://redis:6379
      - JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - AUTH_SERVICE_URL=http://auth-service:4001
    depends_on:
      - redis
    restart: always
    networks:
      - app-tier
    deploy:
      replicas: 2

  auth-service:
    build: ./auth-service
    environment:
      - PORT=4001
      - MONGO_URI=${MONGODB_URL}
      - JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - AUTH_SERVICE_URL=http://auth-service:4001
    ports:
      - "4001:4001"
    depends_on:
      - redis
    networks:
      - app-tier

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "4000:4000"
    depends_on:
      - api
      - auth-service
    networks:
      - app-tier

  worker:
    build: .
    command: [ "node", "dist/src/api/workers/imageWorkers.js" ]
    environment:
      - NODE_ENV=production
      - MONGODB_URL=${MONGODB_URL}
      - REDIS_URL=redis://redis:6379
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
    depends_on:
      - redis
    restart: always
    networks:
      - app-tier

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: always
    networks:
      - app-tier

networks:
  app-tier:
    driver: bridge
